.form{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    

}
.logo{
    color: aliceblue;
    padding: 1.5rem;
    
     
}
.logo img{
    height: 4rem;
    background-color: rgb(226, 221, 221);
    border-radius: .6rem;
    box-shadow: 3px 2.4px 3px 3px rgb(77, 201, 159);
    cursor: pointer;

}
.logo img:hover{
    box-shadow: .3rem .3rem .8rem .8rem rgb(183, 196, 6);
}
.input{
    height: 1.8rem;
    padding:  .1rem;
    border-radius: .3rem;
    color: rgb(37, 146, 37);
    outline: none;
    
    
    
}
.btn{
    background-color: rgb(44, 196, 180);
    color: #fff;
    cursor: pointer;
    padding: .2rem;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    
}
.btn:hover{
    color: rgb(92, 13, 92);
    border: 2px solid rgb(214, 168, 108);
    background-color: rgb(70, 190, 70);
}
.username{
    padding: 1rem;
}
.par{
    color: rgb(10, 99, 69);
    font-style: italic;
    font-size: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mat{
    background-color: rgb(168, 196, 191);
    border-radius: .6rem;
    box-shadow: 3px 2.4px 3px 3px rgb(77, 201, 159);
    cursor: pointer;
    
}
.col img{
    border-radius: 1.2rem;
    border: .3rem solid rgb(229, 226, 226);
    outline: none;
    padding: 4px;
}

.list{
    font-style: italic;
    color: rgb(10, 99, 69);
    
}
.row{
    padding-bottom: 2rem;
    padding: 1rem 3rem;
    color: rgb(10, 95, 67);
    font-style: italic;
    
}
.button{
    padding-top: 1rem;  

}
.button p a{
    font-size: .7rem;
    color: rgb(9, 114, 117);
    font-style: italic;
}
.list-group-item{
    width: 54%;
    font-size: 12px;
    height: 3rem;
    border-radius: .6rem;
}
.list-group-item:hover{
    color: rgb(228, 224, 224);
    
}
.header{
    font-size: 8px;
    padding: .6rem 1rem;
    text-transform: uppercase;
    color: teal;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
    
    

}