<div class="container">
    <mat-card class="mat-elavation-z4">
<div *ngIf ="github">
    
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Username: {{github.login}}<br>
                 <small> ID: {{github.id}}</small></p> 
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sb-3">
                    <img src="{{github.avatar_url}}" alt="" height="150">
                </div>
            </div>

        </div>
    </div>

</div>
</mat-card>
</div>


















<!-- 
<div class="container" *ngIf="github">

    <form class="form" (submit)="searchUsername()">
        <span class="logo" routerLink="/"><img src="assets/github-brands.svg" alt=""></span>
        <div class="username">
        <input class="input" [(ngModel)]="gitSearch" name="search-username"  placeholder="search or jump to" >
        </div>
        <button class="btn"><img src="assets/search-solid.svg" alt="" height="20"></button>
    </form>
</div> -->
