/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("src/assets/img2.jpg");
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
}